.Telecom-header-display{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3498db;
}
.Telecom-header-display div{
    font-size: 20px;
    text-transform: uppercase;
}

.popup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background: #fff; */
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  .popup h2{
    padding: 30px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .Telecom-header-button {
    padding: 10px 20px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Telecom-header-button:hover {
    background: #2980b9;
  }