.create-account-project{
  padding: 2rem 0px;
  

}
.cont-cont{
    position: relative;
    height: 100%;

}
.add-project
{
    background-color: white;
    width:300px;
    padding: 3rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color:#4242ae;
    cursor: pointer;
    border-radius:10px;
    box-shadow: 0px 0px 5px rgb(201, 201, 201);
}
.add-project span{
    font-size: 35px;

}
.add-project h4{margin: 0; padding: 0;}

.project-form-cont
{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color:white;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 200ms;
   
   
}
.open-project-form{
    transform: translateX(0%);   
   
}
.close-btn-cont
{
    padding: 1rem;
    font-size: 40px;
    color: #4242ae;
}

.form-wrapper
{
 
    width:min(95%,95%);
    margin-inline:auto;
    display: flex;

  
  
}
.form-wrapper >*{
    flex: 1;
}
.form-cont-form{
  display: flex;
  flex-direction: column;
  gap: 25px;

}
.form-cont-form h3{
    margin: 0;
    text-transform: capitalize;
    font-size: 25px;
}
.form-cont-form input,.button-div{ 
 padding: 0.75rem;
 width:60%;
 border-radius: 3px;
 border: 2px solid #4242ae;
outline: none;

}
.button-div{
    background-color: #4242ae;
    color: white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.button-div:hover{
    background-color: #5151e6;
}
.all-project-cont{
    display: flex;
    gap: 20px;
    padding: 1rem 0px;
    flex-wrap: wrap;
}

.project-card{
    background-color: white;
    width: 28%;
    min-height: 150px;
    border-radius: 10px;
    padding: 1rem ;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.project-title h3,h2{
    font-weight:300px;
    margin: 0;
    padding: 0;

}
.project-title h2{
    color: rgb(54, 54, 54);
    font-size: 20px;
    text-transform: capitalize;
}
.project-title h3{
    font-size: 15px;
    font-weight: 600;
    color:  #979797;
}
.date-con{
    color: #464646;
    font-weight: 600;
}
.delete-project{
    position:absolute;
    right: 10%;
    bottom: 10%;
    background-color: #4242ae;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 10px rgb(93, 93, 93);
    transition: all 0.2s;
  
}
.delete-project:hover{
    color: red;
    background-color: #d1d5db;
}
.view-project{

} 
.viewpage-project-header
{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;  
    margin-bottom: 10px;
}
.viewpage-project-header span
{
    font-size: 30px;
    color: #4242ae;
}
.viewpage-project-header h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;

}
.project-info{
    padding: 2rem;
    background-color: white;

}
.project-info div span{
    font-weight: 400;
}
.project-info div{
    font-weight: 600;
    display: flex;
    gap: 10px;
    padding: 0.5rem 0px;
}
.viewpage-trans{
    text-align: center;
    margin: 10px 0px 10px 0px;
    background-color: white;
    padding: 1rem 0px;
    font-size: 18px;
    font-weight: 600;
}
.trans-table-cont{
   background-color: white;
   padding: 1rem;
}
.trans-status-pending{
 background-color: rgba(255, 252, 74, 0.892);
 color: rgb(188, 188, 54);
 padding: 0.25rem 0.5rem;
 font-weight: 500;

 border-radius: 5px;
}
@media (max-width: 767px) {
    .add-project{
        width: 100%;
    }
    .form-wrapper{
        flex-direction: column-reverse;
    }
    .form-cont-form input,.button-div{ 
       width:90%;
    }
    .project-card{
        width: 100%;
    }
    .project-info{
        padding: 0.75rem;
       
    }
    .trans-table-cont{
        overflow-x:scroll;
       font-weight: 500;
        font-size: 12px;
    }
}