.login{
    height: 100vh;
    width: 100%;
    background-color: #171730;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
 
    
}
.wrapper-cont{
    width: min(90%,25rem);
    border: 1px solid gray;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4rem 1rem;
    gap: 20px;
    position: relative;
    border-radius: 10px;
}

.wrapper-cont h2{
        color: white;
        font-size: 40px;
        position: absolute;
        top: 0;
        background-color:#171730;
        padding: 1rem;
        left: 50%;
        transform: translate(-50%, -100%);
}
.wrapper-cont .input{
  width: 100%;

}
.input{
    position: relative;
    
}
.input input{
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
    color: white !important;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;

  
    
}

 .close{
    position: absolute;
    left: 0;
    padding:0.75rem;
    box-sizing: border-box;
    pointer-events: none;
    color: grey;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    transition:0.5s;
    font-size: 1rem;
 
}
.open{
    color: aqua;
    transform: translateX(10px) translateY(-7px);
    padding: 0 10px;
    background-color:#171730;
    font-size: 0.65rem;
    letter-spacing: 1px;
}

 .input input:focus{
    border: 1px solid aqua;
 }
.wrapper-cont input[type="submit"]{
    padding: 0.75rem 0px;
    background-color: #171730;
    border: 1px solid gray;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.wrapper-cont input[type="submit"]:hover{
    background-color: aqua;
    color: black;
}
.img-cont{
 height: 100px;
 width: 100px;
border-radius: 50%;
border: 1px solid gray;
 
}
.img-cont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}