.comments-mark{
    overflow-wrap: break-word;
    max-width:250px;
    text-align: justify;
 
}
.Admin-market-bg-green {
   background-color: rgba(6, 215, 187, 0.679);
   border-radius: 5px;
   text-transform: uppercase;
   color: rgb(12, 157, 138);
   text-align: center;
   font-weight: 600;
 
}

.Admin-market-bg-red {
   
    background-color: rgba(220, 20, 60, 0.64);
    border-radius: 5px;
    text-transform: uppercase;
    color:rgb(167, 33, 60);
    font-weight: 600;
    text-align: center;
}

.Admin-Refresh {
    color: blue;
    cursor: pointer;
}

.Admin-Refresh .rotate {
    animation: rotateAnimation 1s linear;
    color: #000 !important;
}

.rotate-color {
    color: #000 !important;
}


.pagination{

}
.pagination ul{
    padding: 2rem;
    list-style: none;
    display: flex;
    gap: 30px;  
    justify-content: end;

}

.active{
    text-decoration: none;
    background-color: #4242ae;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.result{
    padding: 1rem 0px;
    text-align: center;

}
.deactive{
    background-color: #d2d2d2; 
    color: rgb(162, 162, 162);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    pointer-events: none;
}
.record-num{
    font-weight: 600;
     
}

.Admin-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Admin-search {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Admin-label {
    border: 1px solid grey;
    padding: 2%;
    background-color: rgb(16, 144, 248);
    cursor: pointer;
}

.Admin-label:hover {
    background-color: rgb(3, 201, 228);
    color: white;
}

.Admin-search input {
    width: 300px;
    height: 5vh;
}

.Admin-display-refresh{
    visibility: visible;
}

.Admin-hide-refresh{
    visibility: hidden;
    display: none;
}

.pop-form select{
    width: 100%;
    height: 5vh;
}

.Admin-telecom-download{
    border: 2px solid green;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: green;
}