/* .Admin-marketing-page {
    background-color: white;
    width: 95%;
    height: 50vh;
    border-radius: 10px;
    padding: 2%;
}

.Admin-telecom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
}

.Admin-telecom-person {
    display: flex;
    gap: 20px;
    padding: 2%;
    align-items: center;
}

.Admin-telecom-edit {
    border: 2px solid green;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: green;
}

.Admin-telecom-delete {
    padding: 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    cursor: pointer;
    color: red;
}

.Admin-telecom-delete:hover {
    background-color: red;
    color: white;
}

.Admin-telecom-edit:hover {
    background-color: green;
    color: white;
}

.Admin-telecom-add {
    padding: 0.1%;
    margin: 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid grey;
}

.Admin-telecom-add:hover {
    background-color: blueviolet;
}

.popup h3 {
    text-align: center;
}

.pop-form {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.pop-form input {
    width: 100%;
    height: 4vh;
}

.Admin-header-button-submit {
    padding: 2%;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    margin: 1%;
    padding: 1%;
    width: 100%;
    overflow-x: scroll;
    border: 2px solid rgb(0, 94, 225);
    height: 50px;
    border-radius: 10px;
}

table th,
table td {
    border-radius: 10px;
    padding: 1%;   
    text-align: center;
    border: #3498db solid 2px;
}

.Admin-tele-operation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



@media screen and (max-width: 768px) {
    .Admin-marketing-page {
        height: auto;
    }
    .Admin-telecom-person {
        flex-direction: column;
    }
    .pop-form {
        width: 100%;
    }
    .table-container {
        overflow-x: auto;
        width: 100%;
    }
} */

.Admin-market-bg-green {
    background-color: green;
    color: white;
    border-radius: 20px;
    border: #000508 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 30px;
}

.Admin-market-bg-red {
    background-color: red;
    border-radius: 20px;
    color: white;
    border: #000508 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30px;

}

.Admin-Refresh {
    color: blue;
    cursor: pointer;
}

.Admin-Refresh .rotate {
    animation: rotateAnimation 1s linear;
    color: #000 !important;
}

.rotate-color {
    color: #000 !important;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Admin-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Admin-search {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Admin-label {
    border: 1px solid grey;
    padding: 2%;
    background-color: rgb(16, 144, 248);
    cursor: pointer;
}

.Admin-label:hover {
    background-color: rgb(3, 201, 228);
    color: white;
}

.Admin-search input {
    width: 300px;
    height: 5vh;
}

.Admin-display-refresh{
    visibility: visible;
}

.Admin-hide-refresh{
    visibility: hidden;
    display: none;
}

.pop-form select{
    width: 100%;
    height: 5vh;
}

.Admin-telecom-download{
    border: 2px solid green;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: green;
}