.Admin-main-display{
    background-color: #d1d5db;
    /* background-image: url('../login/pexels-pixabay-417273.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    height: 100vh;
  
}


/* .Admin-nav{
    flex-basis: 15%;

} */

.Admin-content{
    margin: 1%;
    width: 85%;
    overflow-y: auto;
    opacity: 90%;
 
}


@media (max-width: 768px)
{
    .Admin-content{
        width:100%;
    }
}