.Admin-main-display{
    background-color: rgba(131, 116, 116, 0.671);
    /* background-image: url('../login/pexels-pixabay-417273.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
.Admin-display{
    display: flex;
    gap: 10px;
}

.Admin-nav{
    flex-basis: 10%;
}

.Admin-content{
    margin: 1%;
    flex-basis:90%;
    opacity: 90%;
}