.Admin-main-display{
    background-color: rgba(0, 0, 255, 0.671);
}
.Admin-display{
    display: flex;
    gap: 10px;
}

.Admin-nav{
    flex-basis: 10%;
}

.Admin-content{
    flex-basis:90%;
    /* padding-left: 10px;
    padding-right: 10px ; */
}