.Telecom-main-display{
    background-color: rgba(0, 0, 0, 0.671)
}
.Telecom-display{
    display: flex;
    gap: 10px;
}

.Telecom-nav{
    flex-basis: 10%;
}

.Telecom-content{
    flex-basis:90%;
    /* padding-left: 10px;
    padding-right: 10px ; */
}